/* Skills.css */

.skills {
    padding: 5rem 2rem 5rem;
    background-color: #f4f4f4;
  }
  
  .title {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .item-text {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    width: 100%;
  }
  
  .progress {
    width: 100%;
    border-radius: 10px;
    height: 16px;
    background-color: #e0e0e0;
    overflow: hidden;
    margin-top: 0.5rem;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 10px;
    background: #0b95ff; /* Cor da barra de progresso */
    transition: width 0.4s;
  }
  